@charset "utf-8";
/* CSS Document */
body,h1,h2,h3,h4,h5,h6,p,img,span,ul,ol,li,input,a,dl, dt,dd{ margin:0; padding:0;}
ul,ol,li{ list-style:none;}
a{ text-decoration:none; color:#666;}
img,img{ border:none;}
body{ font-family: arial,"Microsoft YaHei";}
a:hover{color:#c81623;}
i{font-style:normal;}
.clear:after{ content:""; display:block; clear:both;}